In [24]:
import pandas as pd

In [18]:
file = pd.read_csv("Q7.csv")

In [19]:
file.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [20]:
file.mean()

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [21]:
file.median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [22]:
file.var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [23]:
file.std()

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

In [32]:
Point_Range = print(float(max(file.Points)-min(file.Points)))
Score_Range = print(float(max(file.Score)-min(file.Score)))
Weigh_Range = print(float(max(file.Weigh)-min(file.Weigh)))

2.17
3.9109999999999996
8.399999999999999