In [14]:
import pandas as pd

In [15]:
data = pd.read_csv("Q9_a.csv")

In [16]:
data.describe()

          Index      speed        dist
count  50.00000  50.000000   50.000000
mean   25.50000  15.400000   42.980000
std    14.57738   5.287644   25.769377
min     1.00000   4.000000    2.000000
25%    13.25000  12.000000   26.000000
50%    25.50000  15.000000   36.000000
75%    37.75000  19.000000   56.000000
max    50.00000  25.000000  120.000000

In [18]:
#skewness
data.skew()

Index    0.000000
speed   -0.117510
dist     0.806895
dtype: float64

Inferences Skewness:- 1) Speed Skewness is negative so left skewed
                      2) Distance Skewness is positive so right skewed

In [19]:
#kurtosis 
#positive kurt :- Leptokurtic
#negative kurt :- Platykurtic
#Mesokurtic :- a normal distribution
data.kurt()

Index   -1.200000
speed   -0.508994
dist     0.405053
dtype: float64

Inferences Kurtosis:- 1) Speed kutrosis is negative that means flatter than normal i.e. PLATYKURTIC
                      2) Distance kurtosis is positive that means peaker than normal i.e LEPTOKURTIC

In [20]:
data1 = pd.read_csv("Q9_b.csv")

In [21]:
data1.describe()

       Unnamed: 0          SP         WT
count   81.000000   81.000000  81.000000
mean    41.000000  121.540272  32.412577
std     23.526581   14.181432   7.492813
min      1.000000   99.564907  15.712859
25%     21.000000  113.829145  29.591768
50%     41.000000  118.208698  32.734518
75%     61.000000  126.404312  37.392524
max     81.000000  169.598513  52.997752

In [10]:
#skewness
data1.skew()

Unnamed: 0    0.000000
SP            1.611450
WT           -0.614753
dtype: float64

Inferences Skewness:- 1) SP Skewness is positive so right skewed
                      2) WT Skewness is negative so left skewed

In [12]:
#kurtosis 
data1.kurt()

Unnamed: 0   -1.200000
SP            2.977329
WT            0.950291
dtype: float64

Inferences Kurtosis:- 1) SP kutrosis is positive that means peaker than normal i.e. LEPTOKURTIC
                      2) WT kurtosis is positive that means peaker than normal i.e. LEPTOKURTIC